/********** NEXT SLIDE ARROW NAVIGATION **********/


/*APPEARANCE*/

#cssSlider>input {
    /*new wrapper to this*/
    display: none;
}

#cssSlider>#pageNav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 15;
    width: 100%;
    height: 10vw;
}

#cssSlider>#pageNav>#previousArrow>.slideL,
#cssSlider>#pageNav>#playPause>.playPauseBtn,
#cssSlider>#pageNav>#nextArrow>.slideR {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

@mixin arrowStyle($bckImg) {
    width: 10vw;
    height: 10vw;
    background: url(#{$bckImg + png});
    background-image: url(#{$bckImg + svg}),
    none;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

#cssSlider>#pageNav>#previousArrow>.slideL {
    @include arrowStyle('http://bduke.net/css/icons/previous.');
}

#cssSlider>#pageNav>#nextArrow>.slideR {
    @include arrowStyle('http://bduke.net/css/icons/next.');
}

#cssSlider>#pageNav>#playPause>#playBtn {
    @include arrowStyle('http://bduke.net/css/icons/play.');
}

#cssSlider>#pageNav>#playPause>#pauseBtn {
    @include arrowStyle('http://bduke.net/css/icons/pause.');
}


/*POSITION*/

#cssSlider>#pageNav>#previousArrow>.slideL {
    left: 2vw;
}

#cssSlider>#pageNav>#playPause>.playPauseBtn {
    left: 50%;
    margin: 0 0 0 -5vw;
}

#cssSlider>#pageNav>#nextArrow>.slideR {
    right: 2vw;
}


/*ONLY DISPLAY IF ON SLIDER*/


#cssSlider>#pageNav:hover>#playPause>.playPauseBtn {
    opacity: $BTN_OPACITY;
}

#cssSlider>#pageNav:hover>#previousArrow>.slideL,
#cssSlider>#pageNav:hover>#nextArrow>.slideR {
    opacity: $BTN_OPACITY/$SLIDE_COUNT;
}


/*DON'T SHOW PLAY AND PAUSE*/

#cssSlider>#play:not(:checked)~#pageNav>#playPause>#pauseBtn {
    display: none;
}

#cssSlider>#play:checked~#pageNav>#playPause>#playBtn {
    display: none;
}


/*WHICH ARROW SHOULD BE ON TOP*/

$i: 1;
$l: $SLIDE_COUNT;
$r: 2;
$t: 0;
@while $i <= $SLIDE_COUNT{
	
	#cssSlider>#slide#{$i}:checked~#pageNav>#previousArrow>#slideL#{$l},
	#cssSlider>#slide#{$i}:checked~#pageNav>#nextArrow>#slideR#{$r} {
		z-index: 15;
	}

	$i: $i + 1;
	
	@if $l == $SLIDE_COUNT {
		$l: 0;
	}
	
	@if $r == $SLIDE_COUNT{
		$r: 0;
	}
	
	$l: $l + 1;
	$r: $r + 1;
}

/*STARTING ARROW ANIMATION, FOR WHICH TO BE ON TOP*/

@mixin arrowTime($time) {
	-webkit-animation: arrows #{($SLIDE_TIME * 1000) + 'ms'} infinite $time;
    animation: arrows #{($SLIDE_TIME * 1000) + 'ms'} infinite $time;
}

$i: 1;
$l: $SLIDE_COUNT;
$r: 2;
$t: 0;
@while $i <= $SLIDE_COUNT{
	
	#cssSlider>#play:checked~#pageNav>#previousArrow>#slideL#{$l},
	#cssSlider>#play:checked~#pageNav>#nextArrow>#slideR#{$r} {
		@include arrowTime(#{$t}ms);
	}

	$i: $i + 1;
	
	@if $l == $SLIDE_COUNT {
		$l: 0;
	}
	
	@if $r == $SLIDE_COUNT{
		$r: 0;
	}
	
	$l: $l + 1;
	$r: $r + 1;
  $t: $t + (($SLIDE_TIME * 1000) / $SLIDE_COUNT);
}

/********** END NEXT SLIDE ARROW NAVIGATION **********/
