$sliderBackground: #5B5B5B;
$indicatorColor: #F2F1EF;
$descTextColor: black;
$blurbBox: #ABB7B7;

/*sizing*/


/*for full screen calculate (desired height of slider in vh * width of img) / height of img with vh as units
for normal slider just uncomment the second width*/

$ASPECT_RATIO: 0;//9/16;
$SLIDER_WIDTH: 100%;
$SLIDER_HEIGHT: 100vh;
$SLIDE_COUNT: 6;
$SLIDE_TIME: 40; // in seconds
$SLIDE_PAUSE_PERCENT: 10;
$BTN_OPACITY: 0.7;
