/*CSS RESET*/
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*FONT IMPORT*/
@font-face {
  font-family: timeburner;
  src: url(timeburner.ttf);
}

/*sizing*/
/*for full screen calculate (desired height of slider in vh * width of img) / height of img with vh as units
for normal slider just uncomment the second width*/
/*slider imports*/
/********** NEXT SLIDE ARROW NAVIGATION **********/
/*APPEARANCE*/
#cssSlider > input {
  /*new wrapper to this*/
  display: none;
}

#cssSlider > #pageNav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 15;
  width: 100%;
  height: 10vw;
}

#cssSlider > #pageNav > #previousArrow > .slideL,
#cssSlider > #pageNav > #playPause > .playPauseBtn,
#cssSlider > #pageNav > #nextArrow > .slideR {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#cssSlider > #pageNav > #previousArrow > .slideL {
  width: 10vw;
  height: 10vw;
  background: url(http://bduke.net/css/icons/previous.png);
  background-image: url(http://bduke.net/css/icons/previous.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssSlider > #pageNav > #nextArrow > .slideR {
  width: 10vw;
  height: 10vw;
  background: url(http://bduke.net/css/icons/next.png);
  background-image: url(http://bduke.net/css/icons/next.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssSlider > #pageNav > #playPause > #playBtn {
  width: 10vw;
  height: 10vw;
  background: url(http://bduke.net/css/icons/play.png);
  background-image: url(http://bduke.net/css/icons/play.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssSlider > #pageNav > #playPause > #pauseBtn {
  width: 10vw;
  height: 10vw;
  background: url(http://bduke.net/css/icons/pause.png);
  background-image: url(http://bduke.net/css/icons/pause.svg), none;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

/*POSITION*/
#cssSlider > #pageNav > #previousArrow > .slideL {
  left: 2vw;
}

#cssSlider > #pageNav > #playPause > .playPauseBtn {
  left: 50%;
  margin: 0 0 0 -5vw;
}

#cssSlider > #pageNav > #nextArrow > .slideR {
  right: 2vw;
}

/*ONLY DISPLAY IF ON SLIDER*/
#cssSlider > #pageNav:hover > #playPause > .playPauseBtn {
  opacity: 0.7;
}

#cssSlider > #pageNav:hover > #previousArrow > .slideL,
#cssSlider > #pageNav:hover > #nextArrow > .slideR {
  opacity: 0.23333;
}

/*DON'T SHOW PLAY AND PAUSE*/
#cssSlider > #play:not(:checked) ~ #pageNav > #playPause > #pauseBtn {
  display: none;
}

#cssSlider > #play:checked ~ #pageNav > #playPause > #playBtn {
  display: none;
}

/*WHICH ARROW SHOULD BE ON TOP*/
#cssSlider > #slide1:checked ~ #pageNav > #previousArrow > #slideL3,
#cssSlider > #slide1:checked ~ #pageNav > #nextArrow > #slideR2 {
  z-index: 15;
}

#cssSlider > #slide2:checked ~ #pageNav > #previousArrow > #slideL1,
#cssSlider > #slide2:checked ~ #pageNav > #nextArrow > #slideR3 {
  z-index: 15;
}

#cssSlider > #slide3:checked ~ #pageNav > #previousArrow > #slideL2,
#cssSlider > #slide3:checked ~ #pageNav > #nextArrow > #slideR1 {
  z-index: 15;
}

/*STARTING ARROW ANIMATION, FOR WHICH TO BE ON TOP*/
#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL3,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR2 {
  -webkit-animation: arrows 4000ms infinite 0ms;
  animation: arrows 4000ms infinite 0ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL1,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR3 {
  -webkit-animation: arrows 4000ms infinite 1333.33333ms;
  animation: arrows 4000ms infinite 1333.33333ms;
}

#cssSlider > #play:checked ~ #pageNav > #previousArrow > #slideL2,
#cssSlider > #play:checked ~ #pageNav > #nextArrow > #slideR1 {
  -webkit-animation: arrows 4000ms infinite 2666.66667ms;
  animation: arrows 4000ms infinite 2666.66667ms;
}

/********** END NEXT SLIDE ARROW NAVIGATION **********/
/********** SLIDE INDICATORS **********/
/*PAGE INDICATORS APPEARANCE*/
#cssSlider > #pageIndicators {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  z-index: 15;
}

#cssSlider > #pageIndicators > .indicator {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100%;
  background-color: #ABB7B7;
  /*color of page indicator*/
  cursor: pointer;
}

/*why can't i mix in or anything here?*/
#cssSlider > #pageIndicators > .indicator > .hoverPoint {
  margin: .5em;
  display: inline-block;
  height: .5em;
  width: .5em;
  border-radius: 100%;
  background: transparent;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  z-index: 16;
}

#cssSlider > #pageIndicators > .indicator > .hoverPoint > .point {
  margin-bottom: .5em;
  display: inline-block;
  height: .5em;
  width: .5em;
  border-radius: 100%;
  background: transparent;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
}

/*STARTING PAGE INDICATOR WHICH TO BE LIT ANIMATION*/
#cssSlider > #play:checked ~ #pageIndicators > .indicator > .hoverPoint > #point1,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > .hoverPoint > #point1 {
  -webkit-animation: point 40000ms infinite 0ms;
  animation: point 40000ms infinite 0ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > .hoverPoint > #point2,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > .hoverPoint > #point2 {
  -webkit-animation: point 40000ms infinite 1333.33333ms;
  animation: point 40000ms infinite 1333.33333ms;
}

#cssSlider > #play:checked ~ #pageIndicators > .indicator > .hoverPoint > #point3,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > .hoverPoint > #point3 {
  -webkit-animation: point 40000ms infinite 2666.66667ms;
  animation: point 40000ms infinite 2666.66667ms;
}

/*WHICH INDICATOR SHOULD BE LIT*/
#cssSlider > #slide1:checked ~ #pageIndicators > .indicator > .hoverPoint > #point1 {
  background: #F2F1EF;
  /*color of page indicator dot*/
}

#cssSlider > #slide2:checked ~ #pageIndicators > .indicator > .hoverPoint > #point2 {
  background: #F2F1EF;
  /*color of page indicator dot*/
}

#cssSlider > #slide3:checked ~ #pageIndicators > .indicator > .hoverPoint > #point3 {
  background: #F2F1EF;
  /*color of page indicator dot*/
}

/*used to override the animation for lit indicator*/
#cssSlider > #pageIndicators > .indicator:hover > .hoverPoint {
  background: #F2F1EF;
  /*color of page indicator dot*/
}

/********** END SLIDE INDICATORS **********/
/**********IMAGE/SLIDER STYLING **********/
/*don't show the other images*/
#cssSlider {
  position: relative;
  overflow: hidden;
}

#cssSlider {
  height: 100vh;
  width: 100%;
}

#cssSlider #sliderImages {
  left: 0;
  width: calc(100% * 3);
  height: 100%;
  /*size of the images*/
}

#cssSlider #sliderImages div {
  width: calc(100% / 3);
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cssSlider #sliderImages div img {
  max-height: 100%;
  max-width: 100%;
}

/*animation to use*/
/*animation parameters*/
/*not ie use these animations*/
#cssSlider > #sliderImages {
  -webkit-animation-name: slider;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-name: slider;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  /* IE 10+ hack - cant animate translate */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #cssSlider > #sliderImages {
    animation-name: slider-ie !important;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}

#cssSlider > #sliderImages {
  position: absolute;
  margin: 0;
  padding: 0;
  /*this is the time to transition between images
    when using the arrows*/
  transition: 0.05333s;
}

/********** END IMAGE/SLIDER STYLING **********/
/********** SLIDER TEXT **********/
#cssSlider > #slideDesc > .slideText {
  position: absolute;
  bottom: 0;
  padding: .6em;
  margin: 2em;
  max-width: calc(100vw - 4em);
  background-color: #ABB7B7;
  /*color of blurb box*/
  border-radius: .5em;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: 950ms opacity 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms -webkit-transform 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms visibility 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 950ms opacity 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms -webkit-transform 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms transform 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55), 950ms visibility 850ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#cssSlider > #slideDesc > .slideText > p {
  padding: .1em;
  margin: 0;
  color: black;
  /*color of blurb box text*/
  font-size: 2em;
  font-family: timeburner;
}

/*BRING THE TEXT FORWARD ON ITS PAGE*/
#cssSlider > #slide1:checked ~ #slideDesc > #slideText1 {
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#cssSlider > #slide2:checked ~ #slideDesc > #slideText2 {
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#cssSlider > #slide3:checked ~ #slideDesc > #slideText3 {
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/*TEXT BOX ANIMATION*/
#cssSlider > #play:checked ~ #slideDesc > #slideText1,
#cssSlider > #pause:checked ~ #slideDesc > #slideText1 {
  -webkit-animation: textBoxBounce 4000ms infinite 0ms;
  animation: textBoxBounce 4000ms infinite 0ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText2,
#cssSlider > #pause:checked ~ #slideDesc > #slideText2 {
  -webkit-animation: textBoxBounce 4000ms infinite 1333.33333ms;
  animation: textBoxBounce 4000ms infinite 1333.33333ms;
}

#cssSlider > #play:checked ~ #slideDesc > #slideText3,
#cssSlider > #pause:checked ~ #slideDesc > #slideText3 {
  -webkit-animation: textBoxBounce 4000ms infinite 2666.66667ms;
  animation: textBoxBounce 4000ms infinite 2666.66667ms;
}

/********** END SLIDER TEXT **********/
/********** PLAY PAUSE OF ALL ANIMATIONS **********/
/*restart the show*/
#cssSlider > #slide1:checked ~ #sliderImages {
  -webkit-animation: none;
  animation: none;
}

#cssSlider > #slide2:checked ~ #sliderImages {
  -webkit-animation: none;
  animation: none;
}

#cssSlider > #slide3:checked ~ #sliderImages {
  -webkit-animation: none;
  animation: none;
}

/*pause all animations*/
#cssSlider > #pause:checked ~ #sliderImages {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText1,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL1,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR1,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > .hoverPoint > #point1 {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText2,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL2,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR2,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > .hoverPoint > #point2 {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#cssSlider > #pause:checked ~ #slideDesc > #slideText3,
#cssSlider > #pause:checked ~ #pageNav #previousArrow > #slideL3,
#cssSlider > #pause:checked ~ #pageNav > #nextArrow > #slideR3,
#cssSlider > #pause:checked ~ #pageIndicators > .indicator > .hoverPoint > #point3 {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/********** END PLAY PAUSE OF ALL ANIMATIONS **********/
/********** MANUAL PAGE ADVANCEMENT **********/
#cssSlider > #slide1:checked ~ #sliderImages {
  margin-left: 0%;
}

#cssSlider > #slide2:checked ~ #sliderImages {
  margin-left: -100%;
}

#cssSlider > #slide3:checked ~ #sliderImages {
  margin-left: -200%;
}

/********** END MANUAL PAGE ADVANCEMENT **********/
/********** AUTOMATIC PAGE ADVANCEMENT **********/
@keyframes slider {
  0%,
  10% {
    transform: translateX(0%);
  }
  33.33333%,
  43.33333% {
    transform: translateX(-33.33333%);
  }
  66.66667%,
  76.66667% {
    transform: translateX(-66.66667%);
  }
  100%,
  110% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slider {
  0%,
  10% {
    transform: translateX(0%);
  }
  33.33333%,
  43.33333% {
    transform: translateX(-33.33333%);
  }
  66.66667%,
  76.66667% {
    transform: translateX(-66.66667%);
  }
  100%,
  110% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* AGAIN, PLEASE DIE IE */
/*IE FIX*/
@keyframes slider-ie {
  0%,
  10% {
    margin-left: 0%;
  }
  33.33333%,
  43.33333% {
    margin-left: -33.33333%;
  }
  66.66667%,
  76.66667% {
    margin-left: -66.66667%;
  }
  100%,
  110% {
    margin-left: -100%;
  }
  100% {
    margin-left: -.1vw;
  }
}

/********** END AUTOMATIC PAGE ADVANCEMENT **********/
/********** ANIMATIONS **********/
/*arrows*/
@-webkit-keyframes arrows {
  0%,
  33.33333% {
    opacity: 0;
    z-index: 15;
  }
  33.34333%,
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes arrows {
  0%,
  33.33333% {
    opacity: 0;
    z-index: 15;
  }
  33.34333%,
  100% {
    opacity: 0;
    z-index: -1;
  }
}

/*page indicators*/
@keyframes point {
  1%,
  33% {
    background: #F2F1EF;
    /*color of page indicator dot*/
  }
  34%,
  100% {
    background: transparent;
  }
}

@-webkit-keyframes point {
  0%,
  33% {
    background: #F2F1EF;
    /*color of page indicator dot*/
  }
  34%,
  100% {
    background: transparent;
  }
}

/*text box*/
@keyframes textBoxBounce {
  0.7%,
  32.63333% {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  1%,
  32.33333% {
    opacity: 1;
    z-index: 2;
    visibility: visible;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  34.33333% {
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  34.34333%,
  100% {
    z-index: 0;
  }
}

/*
@-webkit-keyframes textBoxBounce {
    0.6927083333333334%,
    15.963958333333334% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    0.9895833333333334%,
    15.667083333333334% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17.65625% {
        opacity: 0;
        z-index: 2;
        visibility: hidden;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    17.66625%,
    100% {
        z-index: 0;
    }
}

@keyframes textBoxBounce {
    0.6927083333333334%,
    15.963958333333334% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    0.9895833333333334%,
    15.667083333333334% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17.65625% {
        opacity: 0;
        z-index: 2;
        visibility: hidden;
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    17.66625%,
    100% {
        z-index: 0;
    }
}
*/
/********** END ANIMATIONS **********/
/*FOR MOBILE*/
@media screen and (max-width: 1000px) {
  #cssSlider > #slideDesc,
  #cssSlider > #pageIndicators {
    opacity: 0;
    visibility: hidden;
  }
}
